@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   @font-face {
     font-family: 'Lobster';
     font-display: swap;
     src: url('/fonts/Lobster-Regular.ttf');
   }
   @font-face {
      font-family: 'Raleway';
      font-display: swap;
      src: url('/fonts/Raleway-Regular.ttf');
   }
   @font-face {
      font-family: 'Inter';
      font-display: swap;
      src: url('/fonts/Inter-Regular.ttf');
   }
 }
 .active {
   border-bottom : 2px solid black
 }